@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Our Pharmacy</h1>
    <p>This Pharmacy system will allow you to create, manage and delete <a asp-page="/Patients/Index">Patients</a>, <a asp-page="Prescriptions/Index">Prescriptions</a> and <a asp-page="Deliveries/Index">Deliveries</a></p>
</div>
